*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
  background-image:
    radial-gradient(80% 70% ellipse at top right, #2F4F4F   0%, #C0C0C0	 100%);
  background-attachment: fixed;
  color: white;
}

h1 {text-align: center;}

img {
  height: 400px;
  width: 800px;
}


body {
    margin: 0 auto;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    
}

.nav {
  background:  grey;
  height: 60px;
}

.nav li {
  display: inline-block;
  list-style: none;
  height: 60px;
  line-height: 60px; 
  padding: 0 40px; 
}

.nav li:hover {
  background: red;
  transition: background .3s;
}

.nav-link {
  color: #fff;
  text-decoration: none;
}

.calcContainer {
    display: block;
    max-width: 500px;
    margin: 30px auto 0 auto;
    background: rgb(169,169,169, 0.3);
}

.calcContainer:after,
.calcContainer:before {
    content: " ";
    display: table;
}

.calcContainer:after {
    clear: both;
}

table {
    width: 100%;
    padding: 0;
    font-weight: 700;
}

#display-screen {
    width: 100%;
    min-height: 84px;
	background-color: grey;
	color: white;
    display: block;
    padding: 0 15px;
    text-align: right;
    font-size: 1.4rem;
    font-weight: 400;
    border: 0;
    border-bottom: 10px solid #999;
    border-top: 10px solid #999;
}

input[type="button"],
#equal
{
	width: 80px;
    height: 175px; 
    float: left;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: blue;
    border: 0;
	margin: 5px;
	
}

input[type="button"]:hover,
#equal:hover {
    background-color: red;
}

input[type="button"],
#mathBtn {
    width: 80px;
    height: 80px;
    display: block;
    float: left;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: rgb(169,169,169, 0.5);
    border: 0;
    border-bottom: 1px solid #bbb;
}

input[type="button"]:hover,
#mathBtn:hover {
    cursor: pointer;
    background-color: blue;
}

input[type="button"]:active,
#mathBtn:active {
    cursor: pointer;
    background-color: rgb(169,169,169, 0.3);
}

input:focus {
    box-shadow: 0;
    outline: 0;
    background-color: #eee;
}

.p-container {
	
    max-width: 500px;
    margin: 30px auto 0 auto;
    background: rgb(169,169,169, 0.3);
}

p{
	font-size: 2.5em;
	color: white;
	text-align: center;
	padding: 30px;

}

h1
{
	
	text-align: center;
    font-size: 3.5em;
	
}

